Package: com.shinvou.PrivateSMS7
Name: PrivateSMS7
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Hide the conversations in MobileSMS.
Author: Timm Kandziora
Section: Tweaks
